@model IEnumerable<CategoryViewModel>
@using Front_Proyect_Jucar.Models.Products;

@{
    ViewBag.Title = "List of Categories";
}
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 style="color: var(--bs-danger);font-family: Aclonica, sans-serif;">CATEGORIAS</h2>
                <p></p>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="agregarNuevoProducto.html"><img src="plus-circle-fill.svg" width="144" height="60" /></a></li>
            <li class="nav-item"><a class="nav-link" href="Editar productos.html"><img src="gear.svg" width="89" height="60" /></a></li>
            <li class="nav-item"><a class="nav-link" href="Eliminar productos.html"><img src="eli.png" width="62" height="57" /></a></li>
            <li class="nav-item"><a class="nav-link" href="menu-1.html"><img src="arrow-left-circle-fill.svg" width="154" height="54" /></a></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
        </ul>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col">
            <p style="color: var(--bs-dark);border-color: var(--bs-black);font-size: 20PX;font-family: Alatsi, sans-serif;">HERRAMIENTAS</p>
            <div class="row">
                <div class="col-md-12" style="border-bottom-color: var(--bs-black);color: var(--bs-black);">
                    <hr />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row padMar">
                <div class="col">
                    <div class="row padMar">
                        <div class="col padMar">
                            <div class="input-group"><span class="input-group-text" style="color: var(--bs-emphasis-color);font-family: Acme, sans-serif;font-size: 21px;">Buscar:</span><input class="form-control" type="text" placeholder="ID Categoria" style="font-family: Acme, sans-serif;font-size: 22px;" /><button class="btn btn-primary" type="button"><i class="fa fa-arrow-circle-up" style="width: 38.7188px;height: 20px;margin: 4px;padding: 5px;font-size: 24px;"></i></button><button class="btn btn-primary" type="button"><i class="fa fa-arrow-circle-down" style="font-size: 24px;"></i></button><button class="btn btn-primary" type="button"><i class="fa fa-search" style="font-size: 23px;"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Lista de las Categorias</h2>

@if (Model != null && Model.Any())
{
    <div class="input-group"><span class="input-group-text" style="color: var(--bs-emphasis-color);font-family: Acme, sans-serif;font-size: 21px;">Buscar:</span><input class="form-control" type="text" placeholder="ID Producto" style="font-family: Acme, sans-serif;font-size: 22px;" /><button class="btn btn-primary" type="button"><i class="fa fa-arrow-circle-up" style="width: 38.7188px;height: 20px;margin: 4px;padding: 5px;font-size: 24px;"></i></button><button class="btn btn-primary" type="button"><i class="fa fa-arrow-circle-down" style="font-size: 24px;"></i></button><button class="btn btn-primary" type="button"><i class="fa fa-search" style="font-size: 23px;"></i></button></div>
    <table class="table">
        <thead>
            <tr>
                <th>CategoryID</th>
                <th> Nombre</th>
                
                <th>Estado</th>
                <th>Creation del Registro</th>
                <th>Modificacion del registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categories in Model)
            {
                <tr>
                    <td>@categories.CategoryID</td>
                    <td>@categories.Name</td>
                    
                    <td>@categories.State</td>
                    <td>@categories.CreationDate</td>
                    <td>@categories.ModificationDate</td>
                    

                    <td>
                        <div role="group" class="w-60 btn-btn-group">
                            @* <a asp-controller="CategoryController" asp-action="Create" class="btn btn-lg btn-primary>
                                <i class="bi bi-file-plus-fill"></i>
                                Agregar Producto
                            </a>&nbsp; *@

                            <a asp-controller="CategoryController" asp-action="Edit" asp-route-id="@categories.CategoryID" class="btn btn-sm btn-primary">
                                <i class="bi bi-pencil-square"></i>
                                Editar
                            </a>&nbsp;

                            <a asp-controller="CategoryController" asp-action="Delete" asp-route-id="@categories.CategoryID" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash-fill"></i>
                                Eliminar
                            </a>
                        </div>
                    </td>*
                    
                </tr>
            }
            
        </tbody>
       
       
    </table>
}
else
{
    <p>No categories found.</p>
}

